html, body {
    height:100%;
    margin:0;
    padding:0;
    font-family: "Roboto Thin";
}

h2{
    color: #099dff;
}

.content{
    margin: 20px;
}

a.link{
    text-decoration: none;
    color: white;
}

a.link:visited {
    color:white;
}

h1{
    text-align: center;
}

ul.TopMenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.l{
    float: left;
}

a.t{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a.t:hover {
    background-color: #111;
}
.container{
    max-width:200px;
    background:rgba(0, 0, 0, 0.75);
    margin:40px auto;
    padding:10px 0px 20px 0px;
    border:1px solid #111;
    border-radius:4px;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
}
.link{
    font-size:16px;
    font-weight:300;
    text-align:center;
    position:relative;
    height:40px;
    line-height:40px;
    margin-top:10px;
    overflow:hidden;
    width:90%;
    margin-left:5%;
    cursor:pointer;
}
.link:after{
    content: '';
    position:absolute;
    width:80%;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    bottom:20%;
    left:-100%;
    transition-delay: 0.5s;
    transition: all 0.5s;
}
.link:hover:after,
.link.hover:after{
    left:100%;
}
.link .text{
    text-shadow:0px -40px 0px rgba(255, 255, 255, 1);
    transition:all 0.75s;
    transform:translateY(100%) translateZ(0);
    transition-delay:0.25s;
}
.link:hover .text,
.link.hover .text{
    text-shadow:0px -40px 0px rgba(255, 255, 255, 5);
    transform:translateY(0%) translateZ(0) scale(1.1);
    font-weight:600;
}
