html, body {
    height:100%;
    margin:0;
    padding:0;
}


h1{
	text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.content {
    margin:0 auto 0 auto; /* Center content */
    position:relative;
    height: 100%;
    width:100%; /* Sizing - any length */
    padding:60px 0 30px 0; /* Header height and footer height */
    
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    
}

.sidebar1 {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background: rgb(158, 203, 255);
    top:0;
    bottom:30px;
    width: 20%;
    position:absolute;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

.sidebar1 {
    left:0;
}
.Sidebar11
{
    text-decoration-line: none;
    color: rgb(21, 16, 51);
    
}
.Sidebar11:hover{
    color: #f1f1f1;
}



#scrollable2 {
    background:rgb(254, 254, 255);
    padding-left: 23%;
    padding-right: 3%;
    height: 100%;
    width: 100%;
    right:0;
    overflow:auto;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    color:rgba(0, 0, 2, 0.651);
    
}

table{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    background: rgb(185, 210, 243);
    position: fixed; 
    bottom: 0;
    height: 30px;
    color: rgba(255, 248, 220, 0.514);
    
}
