html,body{
    height:100%;
    margin:0;
    padding:0;
}
header{
    padding:15px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    background: rgb(30, 27, 48);
    position: fixed; 
    font-size: 18px;
    top: 0;
    height: 60px !important;
    opacity:.8;
}
.navbar-item:hover{
    color: #f1f1f1;
}
.navbar-item{
    text-decoration: none;
}

.CenteredContent{
    padding-left: 100px;
}
.Welcome{
    padding-left: 250px;
}